body {
    background-color: darkgrey;
    margin-left: 15%;
    margin-right: 15%;
}

header, nav, section, aside, article, footer, h1, h2, h3, p {
    background-color: whitesmoke;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: darkgray;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.clearfix {
    width: 100%; 
}

section {
    float: left;
    width: 49%;
    margin-right: 2%;
    height: 280px;
}

aside {
    float: left;
    width: 49%; 
    height: 280px;
}

article {
    background-color: darkgray;
    color: whitesmoke;
    margin: 0px 10px 0px 10px;
    padding-top: 10px;
    position: relative;
    top: 30px;
}

h1, p {
    margin: 10px 10px 10px 10px;
}
